<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
"http://www.springframework.org/dtd/spring-beans.dtd">
<!-- schedule job only -->
<beans>

	<!-- 线程执行器配置，用于任务注册 -->
 	<bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="10" />
		<property name="maxPoolSize" value="100" />
		<property name="queueCapacity" value="500" />
	</bean> 
  
    
	<!-- 定时器对象 可以添加其他方法-->
	<bean id="analyseScheduler" class="com.shomop.handle.taobaoNotify.AnalyseScheduler">
          <property name="intervalHoursOfTrade" value="24"></property>
          <property name="nopayTime" value="2"></property>
	</bean>

	<!--每天新增订单用户分析-->  
	<bean id="anlyseIncreasedBuyerDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="anlyseIncreasedBuyer" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!--未付款订单扫描-->
	<bean id="smsDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="nopayTradeSendSMS" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!--到达或者签收订单扫描-->
	<bean id="remindDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="remindBuyerGoodsArrivalOrSignInTrade" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!--评价详情下载-->
	<bean id="downRateDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="downRate" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!--定时分析买家订单每天早上7点 -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="anlyseIncreasedBuyerDetail" />
		<!--<property name="cronExpression" value="0 0 7 * * ?" />  -->
		<property name="cronExpression" value="0 0/3 * * * ?" />
	</bean>
	
	<!--每5分钟分析一次 -->
	<bean id="smsTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="smsDetail" />
		<property name="cronExpression" value="0 0/3 * * * ?" />
	</bean>
	<!--下载评价,半小时下载一次-->
	<bean id="downRateTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="downRateDetail" />
		<property name="cronExpression" value="0 0/2 * * * ?" />
	</bean>
	
	<!--每天10-20点每隔5小时扫描一次 -->
	<bean id="remindTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="remindDetail" />
		<!--<property name="cronExpression" value="0 0 10/5,20 * * ?" /> -->
		<property name="cronExpression" value="0 0/2 * * * ?" />
	</bean>

	<!-- 设置调度 -->
	<bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- <ref local="cronTrigger" />
				 <ref local="smsTrigger" />
				 <ref local="remindTrigger" /> 
				 <ref local="downRateTrigger" />  --> 
			</list>
		</property>
		<property name="taskExecutor" ref="executor" />
	</bean>
</beans>
